.cardSlider{
    height: 100vh;
    background-color: black;
}

/* .algoImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
}

.pic{
  margin: 300px 550px;
  width: 30%;
} */

.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  /* margin-left: 400px;
  margin-right: 400px; */
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}