.card-container {
  margin-top: 3%;
  width: 300px;
  height: 150px;
  overflow: hidden;
  margin-left: 2%;
  margin-bottom: 2%;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3s;
  animation: ease-in;
  border: 1px solid #fff;
}

.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

.message h2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 8%;
  color: #f0c38e;
}
