.event__image {
  max-width: 40%;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 25%;
  left: 65%;
  object-fit: contain;
  z-index: 0;
  opacity: 0.5;
}
.event__card__wrapper {
  position: relative;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 5px 0 rgba(20, 19, 19, 0.212),
    0 1px 5px 0 rgba(20, 19, 19, 0.212);
  object-fit: contain;
  overflow: hidden;
  min-height: 220px;
  max-height: 256px;
  max-width: 32%;
  margin: 0.25rem 0.5rem;
  min-width: 500px;
  background-color: #fff;
}

.event__card__content {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1rem 1.25rem;
}

.event__card__content .event__name {
  font-size: 2rem;
  font-weight: 500;
}
.event__card__content .event__timings {
  font-size: 1.3rem;
  font-weight: 400;
}

.event__card__content .watch__btn {
  cursor: pointer;
  margin: auto 0;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: var(--btn-primary);
  padding: 0.4rem 1.25rem;
  border: 1.5px solid var(--btn-primary);
  border-radius: 5px;
  text-align: center;
  transition: var(--transition-speed);
  outline: none;
  font-size: 1rem;
  font-weight: 500;
}
.watch__btn {
  opacity: 0.8;
  background-color: #7e7a97;
}
.event__card__content .watch__btn:hover {
  background: var(--hover-state);
}
.event__card__content .watch__btn:focus {
  background: var(--focused-state);
}

.event__card__content .watch__btn:disabled {
  cursor: not-allowed;
}

.event {
  margin: 20px;
}

.event__topic{
    font-size: 30px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.event__name{
  font-size: 1%;
  font-weight: lighter;
  font-family:initial;
}
