.linearSearch {
  height: auto;
  margin: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.drum {

<<<<<<< HEAD
    /* font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    border-radius: 15px;
    display: inline-block;
    width: 130px;
    height: 130px;
    text-align: center;
    margin: 10px;  */

=======
>>>>>>> 147ea159095627620a3e25eddb4a00c7a06559e3
  background-color: transparent;
  outline: none;
  border: none;
}
.Engine {
  width: 160px;
  height: 160px;
}

.image {
  width: 130px;
  height: 130px;
}

.CardCSS {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

<<<<<<< HEAD


.video{
    height: 50px;
    width: 50px;
=======
.scrollDown {
  margin-top: 30px;
  font-weight: 600;
  font-size: 30px;
  max-width: 100%;
  font-family: "Ubuntu", sans-serif;
  color: #a5a5a5;
>>>>>>> 147ea159095627620a3e25eddb4a00c7a06559e3
}
