.linearSearch {
  height: auto;
  margin: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.drum {
  background-color: transparent;
  outline: none;
  border: none;
}
.Engine {
  width: 160px;
  height: 160px;
}

.image {
  width: 130px;
  height: 130px;
}

.CardCSS {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.scrollDown {
  margin-top: 30px;
  font-weight: 600;
  font-size: 30px;
  max-width: 100%;
  font-family: "Ubuntu", sans-serif;
  color: #a5a5a5;
}
