.card__content{
  margin-left: 100px;
  margin-right: 100px;
}

.card__content,
.card__content__inner {
  width: auto;
  height: 100%;
  
  border-radius: 5px;
  background-color: rgb(207, 205, 205);
}
.card__content {
  perspective: 25px;
  margin-top: 80px;
}
.card__content__inner {
  position: relative;
  height: 200px;
  box-shadow: 0 1px 5px 0 rgba(20, 19, 19, 0.212),
    0 1px 5px 0 rgba(20, 19, 19, 0.212);

  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.card__graphics {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  /* height: 300px; */
  width: 40%;
  height: 100%;
  width: auto;
  opacity: 1;
  z-index: 0;
}

.card__content__inner {
  padding: 1rem 1.5rem;
  overflow: hidden;
  height: 300px;
}

.card__content__inner .row .col-md-6 * {
  text-align: left;
}

.hackathon__title {
  color: var(--text-primary);
  font-size: 4.5rem;
  font-family: "Blockletter";
  text-align: left;
  padding-top: 10px;
  padding-left: 50px;
}

.hackathon__duration {
  font-family: "Blockletter";
  font-size: 2rem;
  /* padding-bottom: 10px; */
  padding-left: 50px;
}

.buttonfx {
  margin-top: 1rem;
  color: white;
  outline: none;
  background: black;
  border: none;
  /* border-bottom: 4px solid #eee; */
  letter-spacing: 0.0625em;
  padding: 8px 15px;
  text-transform: uppercase;
  font: bold 14px "Bitter", sans-serif;
  line-height: 2;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  transition: all 0.5s;
  margin-left: 50px;
}


.buttonfx:before,
.buttonfx:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #ee82ee;
  z-index: -1;
  transform: translate3D(0, -100%, 0);
  transition: all 0.5s;
}

.buttonfx:before {
  background: black;
  z-index: -2;
  transform: translate3D(0, 0, 0);
}

.buttonfx:hover {
  color: rgb(255, 255, 255);
  outline: none;
  font-size: 15px;
  /* font-weight: bolder; */
}

.buttonfx:hover:after {
  transform: translate3D(0, 0, 0);
  transition: all 0.5s;
}

.slideleft:after {
  top: 0;
  z-index: -1;
  transform: translate3D(-101%, 0, 0);
}

.slideleft:hover:after {
  transform: translate3D(0, 0, 0);
  transition: all 0.5s;
}

@media screen and (max-width: 1280px) {
  .card__graphics {
    z-index: -2;
    opacity: 0.1;
    height: 100%;
  }

  .card__content__inner {
    height: auto;
  }
}

@media screen and (max-width: 1080px) {
  .card__graphics {
    z-index: -2;
    opacity: 0.1;
    height: 100%;
  }

  .card__content__inner {
    height: auto;
  }
}

@media screen and (max-width: 720px) {
  .card__graphics {
    z-index: -2;
    opacity: 0.1;
    height: 100%;
  }
  .hackathon__title {
    font-size: 3.5rem;
  }
  .hackathon__duration {
    font-size: 2.5rem;
  }
  .buttonfx {
    padding: 8px 14px;
  }
  .card__content {
    height: auto;
    margin: 0 auto;
  }
  .card__content__inner {
    height: auto;
  }
}
